<div>
  <h3>Name:<%= @user.username %></h3>
  <div style="margin-bottom: 10px;">
    <form action="/session" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="ログアウト">
    </form>
  </div>
  <div style="float: left;margin-right: 5px;">
    <form action="/search" method="post">
      <input type="text" name="search_word">
      <input type="submit" value="検索">
    </form>
  </div>
  <a href="/plofile">プロフィール</a>
  <div style="margin-top: 30px;">
    <label><span id="tweet-length">0</span></label>
    <form action="/" method="post">
      <input type="hidden" name="userid" value="<%=@user.userid%>">
      <input type="hidden" name="username" value="<%=@user.username%>">
      <textarea id="tweet" name="comment" rows="5" cols="50"></textarea>
      <input id="send-tweet" type="submit" value="tweet">
    </form>
  </div>
</div>
<div>
  <% Comments.desc(:postdate).each do |contents|
    # 日本時間に変えるため9時間加算(32400秒)
    jstTime = contents["postdate"] + 32400 %>
    <p>
      <img src="<%= gravatar_img(@user)%>" width="16">
      <a href="<%=contents["userid"]%>"><%= esc contents["username"] %></a>
      日時：<%= esc jstTime.strftime("%Y/%m/%d %H:%M:%S") %>
    </p>
    <p><%=changeBr(esc(contents["comments"])) %></p>
    <% if @user.userid == contents["userid"] %>
    <form  method="post" action="/delete">
     <input type="hidden" name="_method" value="delete">
     <input type="hidden" name="id" value="<%=contents["_id"]%>">
     <input type="submit" value="delete">
    </form>
    <% end %>
  <% end %>
</div>
<script type="text/javascript" src="/javascript/checklength.js" />