<h2>ログイン</h2>
<div style="margin-bottom: 10px;">
  <form action="/session" method="post">
    ユーザーID <input type="text" name="userid">
    パスワード <input type="password" name="password">
    <input type="submit" value="ログイン">
  </form>
</div>
<a href="/user_regist">ユーザー登録</a>