<h3>プロフィール設定</h3>
<form action="/plofile" method="post">
    <label>名前</label>
  <div style="margin-bottom: 10px;">
    <input type="text" name="username" value="<%=@user.username%>">
  </div>
    <label>紹介</label>
  <div>
    <textarea name="plofile" rows="5" cols="50"><%=@user.plofile%></textarea>
  </div>
  <input type="submit" value="変更">
</form>
<div style="margin-top: 5px;">
  <a href="/">戻る</a>
</div>