<a href="/">戻る</a>
<h1>検索結果</h1>
<% @search.desc(:postdate).each do |contents|
  # 日本時間に変えるため9時間加算(32400秒)
  jstTime = contents["postdate"] + 32400 %>
  <p><img src="<%= gravatar_img(@user)%>" width="16"><a href="<%=contents["userid"]%>"><%= esc contents["username"] %></a>
  日時：<%= esc jstTime.strftime("%Y/%m/%d %H:%M:%S") %>
  <p><%= changeBr(esc(contents['comments']))%></p>
<% end %>