<a href="/">戻る</a>
<h3><%=@userinfo.username%>さん</h3>
<img src="<%= gravatar_img(@user)%>" width="50">
<div>
  <ul style="list-style-type: none;">
    <li>ID:<%= @userinfo.userid %></li>
    <li>名前:<%= @userinfo.username %></li>
    <li>紹介文</li>
    <ul style="list-style-type: none;">
      <li>
        <p><%= changeBr(@userinfo.plofile) %></p>
      </li>
    </ul>
  </ul>
</div>
<div>
  <h3>tweet</h3>
  <% @usertweet.desc(:postdate).each do |contents|
    # 日本時間に変えるため9時間加算(32400秒)
    jstTime = contents["postdate"] + 32400 %>
    <p>日時：<%= esc jstTime.strftime("%Y/%m/%d %H:%M:%S") %></p>
    <p><%=changeBr(esc(contents["comments"])) %></p>
  <% end %>
</div>