<div style="width: 320px; float: left;">
  <h2>ユーザー登録</h2>
  <form action="user_regist" method="post">
    <p>ユーザーID <input type="text" name="userid"></p>
    <p>ユーザー名 <input type="text" name="username"></p>
    <p>メールアドレス<input type="text" name="address"></p>
    <p>パスワード <input type="password" name="password"></p>
    <p>パスワード確認 <input type="password" name="check_pass"></p>
    <input type="submit" value="登録">
  </form>
</div>